#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    /*grid-template-rows: 1fr 1fr 5fr;*/
    height: 70vh;
    width: 90vh;
}

.main-container h1 {
    font-size: 2ch;
    font-weight: 600;
    height: 100%;
    width: 50vh;
    color: hsl(158, 6%, 62%);
    grid-row: 1;
}

#password-input {
    grid-row: 2;
    border: none; /* Remove a borda */
    border-radius: 0.2ch;
    background-color:#25222b; /* Cor de fundo sólida */
    width: 100%;
    box-sizing: border-box;
    padding: 1.2ch; /* Espaçamento interno */
    color:#56555d; /* Cor do texto */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2ch;
    font-weight: 700;
    align-items: center
}

#box{
    background-color: #25222b;
    padding: 2ch 2.5ch 2.5ch 2.5ch;
}


#checkboxes {
    gap: 2rem;
    margin-top: 2rem;
    text-align: left;
    color: rgb(230, 230, 230);
    font-size: 1.4ch;
    font-weight: 500;
}
  
#checkboxes label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2ch;
    }

#checkboxes label:hover::before {
    border-color: #a5ffae; /* Borda verde ao passar o cursor por cima */
}

#checkboxes input[type="checkbox"] {
    display: none; /* Ocultar o input padrão */
}

/* Estilo do quadradinho do checkbox */
#checkboxes input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 1.4ch; /* Ajuste o tamanho do quadradinho */
    height: 1.4ch; /* Torna o quadradinho quadrado */
    border: 2px solid white; /* Borda branca */
    background: transparent; /* Fundo transparente */
    margin-right: 2ch;
    transition: border-color 0.2s; /* Adiciona transição de cor da borda */
}

/* Estilo do check quando selecionado */
#checkboxes input[type="checkbox"]:checked + label::before {
    background: #a5ffae; /* Fundo verde quando selecionado */
    border: 3.9px solid #a5ffae; /* Borda verde quando selecionado */
    content: "\2713"; /* Código de caractere do checkmark preto */
    display: block;
    color: #25222b; /* Cor do check preto */
    font-size: 1.2ch; /* Tamanho do ícone do check */
    font-weight: bolder;
    text-align: center;
    line-height: 1.4ch;
}



  
#generate{
    width: 100%;
    background-color: #a5ffae;
    color: #19171e;
    border: 2px solid #a5ffae;
    padding: 0.8em 1.5em;
    font-size: 1.5ch;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /*transition: border-color 0.25s;*/

}

#strength{
    margin-top: 1rem;
}

#div-generator{
    margin-top: 1rem;
}

#generate:hover{
    color: #a5ffae;
    background-color: #24232b;
    border: 2px solid #a5ffae;
}
  
/*.main-container .password-generator {
    grid-row: 3;
}*/
  
